.spin{
    // padding-top:50px;
    margin-top:5px;
    margin-left:125px;
    // position: fixed;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
 }

 .food-banner{
     height: 100px;
 }