<ion-header>
  <ion-toolbar>
    <ion-title>Food Recs</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img class="food-banner" src="../../assets/food3.png"/>
      <!-- <ion-list> -->
          <div class = "spin" *ngIf='!recFood'>
            <ion-spinner ></ion-spinner>
          </div>
          <div *ngIf= 'recFood' >
            <div *ngFor = 'let rec of recFood'>
              <ion-item >
                  <ion-label >
                    <h2><strong>{{rec.product_name}}</strong></h2>
                    <h3>{{rec.calories}}g Calories</h3>
                    <ion-item><p>{{rec.carbs}}g Carbs <br>{{rec.fat}}g Fat<br> {{rec.protein}}g Protein <br>{{rec.sugar}}g Sugar</p></ion-item>         
                  </ion-label>
              </ion-item>
            </div>
          </div>
      <!-- </ion-list> -->

</ion-content>
<ion-footer>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/profile-page">
        <ion-label>Profile</ion-label>
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>
      <ion-tab-button routerLink="/landing-page">
        <ion-label>Home</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button routerLink="/rec-page">
        <ion-label>Recs</ion-label>
        <ion-icon name="fast-food"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>

<!-- <body> -->
  <!-- <ion-app>

  </ion-app> -->
<!-- </body> -->