
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <!-- <ion-toolbar> -->
      <div class = "header"> 
        <ion-title size="large" class ="test ion-text-center">Foodture</ion-title>
        <img class="carrot-icon" src="../../assets/icon.png"/>
      </div>

    <!-- </ion-toolbar> -->
  </ion-header>

  <!-- <div id="container"> -->
  <ion-button class = "login" style="--background:#f74949" (click)= "openLoginModal()">Login</ion-button>
  <ion-button class = "register" style = "--background:#c4c4c4" (click)= "openRegisterModal()">Register</ion-button>
  <!-- </div> -->
</ion-content>
