// #container {
//   text-align: center;

//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;

//   color: #8c8c8c;

//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }

.header{
  margin-top:160px;
}

.carrot-icon{
  height: 20%;
  width: 20%; 
  margin-left:32px;
}

.ion-text-center{
  margin-left:25px;
}

.register{
  
  display:block;
}

.login{
  margin-top:175px;
  display:block;
}