<ion-header>
  <ion-toolbar>
    <ion-title>profile-page</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://t4.ftcdn.net/jpg/03/64/21/11/360_F_364211147_1qgLVxv1Tcq0Ohz3FawUfrtONzz8nq3e.jpg" />
    <ion-card-header>
      <ion-card-title>Jeremy</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf='userData'>
      <ion-row>
        <ion-text>Email: {{userData.email}}</ion-text>
      </ion-row>
      <ion-row>
        <ion-text>Age: {{userData.age}} Sex: {{userData.sex}}</ion-text>
      </ion-row>
      <ion-row>
        <ion-text>Height: {{userData.height}}</ion-text>
      </ion-row>
      <ion-row>
        <ion-text>Weight: {{userData.weight}}</ion-text>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/profile-page">
        <ion-label>Profile</ion-label>
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>
      <ion-tab-button routerLink="/landing-page">
        <ion-label>Home</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button routerLink="/rec-page">
        <ion-label>Recs</ion-label>
        <ion-icon name="fast-food"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>