<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size=2>
        <ion-button color="light" class="date-button" (click) = "backDateOnClick()">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col style="text-align: center !important;" size=7>
        <ion-datetime display-format="MM-DD-YYYY" id='home-date'
        [(ngModel)]="date" (ionChange)="fetchLogs($event)"></ion-datetime>
      </ion-col>
      <ion-col size=2>
        <ion-button color="light" class="date-button" (click) = "forwardDateOnClick()">
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="daily-total">
        <ion-label>Daily Totals</ion-label>
      </ion-segment-button>
      <ion-segment-button value="food-log">
        <ion-label>Food Log</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-item>
  <!-- Daily Totals Page -->
  <div *ngIf='showDailyTotalPage' class = "rounded-rect">
    <ion-text> Welcome back, Jeremy!</ion-text>
    <ion-card>
      <ion-card-content *ngIf='dailyTotalData'>
        <ion-text class = 'ion-text-center'><strong>Current Intake</strong></ion-text><br><br>
        <ion-progress-bar value = "{{calPct}}" color="secondary"></ion-progress-bar>
        <ion-text class = 'ion-text-center3'>{{dailyTotalData.dailyCalories}}g/2000.00g Calories</ion-text><br><br>
        <ion-text class = 'ion-text-center2'><strong>Breakdown</strong></ion-text><br>
        
        <ion-text>Carbs - {{dailyTotalData.dailyCarbs}}g/500.00g</ion-text>
        <ion-progress-bar value = "{{carbPct}}" color="warning"></ion-progress-bar><br>
        <ion-text>Proteins - {{dailyTotalData.dailyProtein}}g/250.00g </ion-text>
        <ion-progress-bar value = "{{proteinPct}}" color = "danger"></ion-progress-bar><br>
        <ion-text>Fats - {{dailyTotalData.dailyFat}}g/80.00g</ion-text>
        <div class = "pbar">
          <ion-progress-bar value = "{{fatPct}}"></ion-progress-bar><br>
        </div>
        
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend
      </ion-card-content>
    </ion-card>
  </div>
  <!-- Food Log -->
  <div *ngIf='!showDailyTotalPage' class = "">
    <ion-grid class='sleep-data-table' *ngFor='let log of foodLogs'>
      <ion-item-sliding>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-label style='font-weight: bold; font-size: 20px;'>{{ log.name }}</ion-label>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <ion-label>Calories:</ion-label>
                  <ion-note>{{log.calories}}</ion-note>
                </ion-col>
                <ion-col size="4">
                  <ion-label>Carbs:</ion-label>
                  <ion-note>{{log.carbs}}</ion-note>
                </ion-col>
                <ion-col size="4">
                  <ion-label>Fat:</ion-label>
                  <ion-note>{{log.fat}}</ion-note>
                </ion-col>
                <ion-col size="4">
                  <ion-label>Protein:</ion-label>
                  <ion-note>{{log.protein}}</ion-note>
                </ion-col>
                <ion-col size="4">
                  <ion-label>Sugar:</ion-label>
                  <ion-note>{{log.sugar}}</ion-note>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        <ion-item-options side="end">
          <ion-item-option color='danger'>Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-grid>
    <ion-item>
      <ion-row name="justify-content-center">
        <ion-col *ngIf='!showDailyTotalPage' style="text-align: center !important;">
            <ion-button (click)="addNewOnClick()" expand="block" size='large' color='light' class="addNewButton">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-item>
  </div>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/profile-page">
        <ion-label>Profile</ion-label>
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>
      <ion-tab-button routerLink="/landing-page">
        <ion-label>Home</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button routerLink="/rec-page">
        <ion-label>Recs</ion-label>
        <ion-icon name="fast-food"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
